body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  font-size: 25px;
  font-style: italic;
}


h6 {
  font-weight: 700;
}

#wrapper{
  margin: 0 auto;
  width:300px;
}