body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 500px;
}

a {
  font-size: 25px;
  font-style: italic;
}


h6 {
  font-weight: 700;
}

#wrapper{
  margin: 0 auto;
  width:300px;
}

.delete-form {
  position: absolute;
  top: 0;
  right: 0px;
}

h1 {
  text-align: center;
}
#new-skill{
  width: -webkit-fill-available;
}

.update-form{
  position: absolute;
  top: 0;
  left: 0px;
}

#wrapper-update{
  margin: 0 auto;
  width:300px;
}

.update-form > button {
  font-size: 2.3em;
  padding: 0 0 9px 0;
  line-height: 31px;
}